<div class="modal fade" id="<%= action.downcase + type %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= action.downcase + type %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="<%= action.downcase + type %>ModalLabel"><%= action + ' ' + type %></h4>
      </div>
      <%= render('instructor/'+ type.downcase + 's/' + action.downcase) %>
    </div>
  </div>
</div>
