<div class="modal fade" id="new<%= type %>Modal" tabindex="-1" role="dialog" aria-labelledby="new<%= type %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="new<%= type %>ModalLabel">New <%= type %></h4>
      </div>
      <%= render('instructor/'+ type.downcase + 's/new') %>
    </div>
  </div>
</div>
