<%= javascript_include_tag "instructor/courses" %>
<div class="lift-box col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h1 class="course-title text-center"><%= current_course.title %></h1>
      <hr />
      <% if current_course.sections.present? %>
        <div class="sections">
          <% current_course.sections.rank(:row_order).each do |section| %>
            <div class="section-item" data-update-url="<%= instructor_section_path(section) %>">
              <div class="section-item-header text-center">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                <%= section.title %>
              </div>
              <div class="section-body instructor-list">
                <% if section.lessons.present? %>
                  <div class="lessons">
                    <% section.lessons.rank(:row_order).each do |lesson| %>
                      <div class="lesson-card instructor-card" data-update-url="<%= instructor_lesson_path(lesson) %>">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        <div class="lesson-info flex-center text-center">
                          <div>
                            <%= render 'lesson_card', lesson: lesson %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class="new-lesson">
                  <div class="new-lesson-card instructor-card" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
                    <div class="new-item flex-center text-center">
                      <div>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <b>New Lesson</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br class="clear" />
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="new-section-item flex-center text-center" data-toggle="modal" data-target="#newSectionModal">
        <div class="new-item">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <b>New Section</b>
        </div>
      </div>
    </div>
    <div class="sidebar col-xs-12 col-sm-4 col-md-3 text-center">
      <hr class="visible-xs" />
      <div class="thumbnail">
        <%= render 'course_image', course: current_course %>
      </div>
      <hr />
      <%= link_to 'View as Student', course_path(current_course), class: 'btn btn-warning' %>
      <br />
    </div>
  </div>
</div>
<!-- Modals for new sections / lessons -->
<%= render partial: 'new_item_modal', locals: { type: "Section" } %>
<%= render partial: 'new_item_modal', locals: { type: "Lesson" } %>
