<div class="lift-box col-xs-10 col-xs-offset-1">
  <h1><%= current_lesson.title %>: <%= current_lesson.subtitle %></h1>

  <hr />

  <video id="my-video" class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered" controls preload="auto" poster="<%= image_path 'black.jpg' %>" data-setup="{}">
    <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
    <noscript>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </noscript>
  </video>

  <hr />

  <p><%= current_lesson.section.course.description %></p>
</div>
