<div class="row item-row">
  <div class="col-xs-12 col-sm-3 col-md-2">
    <%= link_to course_path(course) do %>
      <% if course.image.present? %>
          <%= image_tag course.image.url(:square), class: "list-photo thumbnail img-responsive" %>
      <% else %>
        <%= image_tag 'no_img.jpg', class: "list-photo thumbnail img-responsive" %>
      <% end %>
    <% end %>
  </div>
  <div class= "col-xs-12 col-sm-6 col-md-7">
    <h3><%= link_to course.title, course_path(course) %></h3>
    <p><%= course.description %></p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="text-center">
      <h4>Cost: <%= course.is_free? ? 'Free!' : (number_to_currency course.cost) %></h4>
      <% if current_user && current_user == course.user %>
        <%= link_to 'Admin Panel', instructor_course_path(course), class: 'btn btn-warning' %>
      <% else %>
        <%= link_to 'More Details', course_path(course), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
