<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
      <%= render 'layouts/navbar', title: 'Flixter' %>
      <%= render 'flash_messages', flash: flash %>
      <%= yield %>
      <br class="clear">
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
